<div class="reminder-container">
  <h2>Reminders</h2>
  <i class="fas fa-info-circle right-align" (click)="navigateToAbout()"></i>

  <ul class="reminder-list">
      <li *ngFor="let reminder of reminders" class="reminder-item">
          <input type="checkbox" [(ngModel)]="reminder.isComplete" (change)="updateReminderStatus(reminder)">
          <span [class.completed]="reminder.isComplete">{{ reminder.title }}</span>
          <span class="create-time">{{ (reminder.createTime) }}</span>
          <button class="btn btn-delete" (click)="deleteReminder(reminder.id)">Delete</button>
      </li>
  </ul>

  <form class="add-form" (submit)="addReminder()">
      <label for="newTitle">Add Reminder:</label>
      <input id="newTitle" type="text" [(ngModel)]="newTitle" name="newTitle" required>
      <button type="submit" class="btn btn-add">Add</button>
  </form>
</div>
